/node_modules

.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

!.env.example
!.env.template

.log
npm-debug.log

yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/dist
/build
/.out
*.tsbuildinfo

/coverage
/.nyc_output


.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
.tmp

*.tgz